
.board-container {
  height: 100vh; 
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-position: center;
  background-size: cover;
}

.board {
  display: grid;
  grid-template-columns: 7rem 7rem 7rem 7rem 7rem;
  grid-template-rows: 7rem 7rem 7rem 7rem 7rem 7rem;
  justify-content: center;
  align-items: center;  
  height: 600px;
  width: 600px;
}